# Lab 1

In [1]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv('fruits.csv')
train.sample(5)

      target      weight   color
6609   apple   63.294314     red
8859  orange  105.341812  orange
916   orange   95.770491  orange
4856  orange   90.636314  orange
1804   apple   55.457353     red

In [9]:
x = train[train.columns[train.dtypes == 'float64']]
print('Fruits : ', np.unique(train.iloc[:,0]))
print('Colors : ', np.unique(train.iloc[:,2]))
x

Fruits :  ['apple' 'orange']
Colors :  ['green' 'orange' 'red']

          weight
0      91.234258
1     125.134927
2     101.313929
3     102.218174
4      89.982126
...          ...
9995   81.061794
9996   90.426004
9997   92.361074
9998  126.969072
9999   96.576217

[10000 rows x 1 columns]

In [11]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(np.unique(train.iloc[:,0]))
print(le.classes_)
train.target  = le.transform(train.iloc[:,0])

[0 1]

In [12]:
tr1 = train[train.target == 0]
tr2 = train[train.target == 1]
print(tr1.mean())
print(tr2.mean())

target     0.00000
weight    99.70669
dtype: float64
target     1.000000
weight    99.918405
dtype: float64

In [13]:
le.fit(np.unique(train.iloc[:,2]))
train.color = le.transform(train.iloc[:,2])

In [14]:
train

      target      weight  color
0          0   91.234258      2
1          0  125.134927      2
2          1  101.313929      1
3          0  102.218174      0
4          0   89.982126      2
...      ...         ...    ...
9995       0   81.061794      2
9996       1   90.426004      1
9997       1   92.361074      1
9998       0  126.969072      0
9999       1   96.576217      1

[10000 rows x 3 columns]

In [15]:
np.unique(train.iloc[:,2])

array([0, 1, 2])

In [16]:
train.corr()

          target    weight     color
target  1.000000  0.005081 -0.142332
weight  0.005081  1.000000 -0.001345
color  -0.142332 -0.001345  1.000000

In [19]:
from sklearn.linear_model import RidgeClassifier
X = train.iloc[:,1:3]
y = train.iloc[:,0]
clf = RidgeClassifier().fit(X, y)
clf.score(X, y)

0.7752

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
clf1 = RidgeClassifier().fit(X_test, y_test)
clf1.score(X_train, y_train)

0.7753731343283582

In [21]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features = [0])
x = onehotencoder.fit_transform(x).toarray()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [25]:
import xgboost
clf = xgboost.XGBClassifier(max_depth=7, learning_rate=0.1, n_estimators=100, subsample = 0.7, colsample_bytree=0.7) 
clf.fit(X_train, y_train)
from  sklearn.metrics import roc_auc_score
roc_auc_score(y_train, clf.predict(X_train))

0.9560398677609361

In [26]:
roc_auc_score(y_test, clf.predict(X_test))

0.9415151515151515

In [27]:
clf.feature_importances_

array([0.09586076, 0.9041392 ], dtype=float32)